<div class="container">
	<div class="row">
		{{ range $value := . }}
		<div class="level-1">
			<div class="node-1">
				<div class="node">
					<div class="node-title">
						<a href="/edit/{{$value.Id}}">{{ $value.Title }}</a>
					</div>
					<div class="node-content">
					{{ $value.Content }}
					</div>
					<div class="level-2">
						<div class="node-1">
							<div class="node">
								<div class="node-title">
									<a href="">Дочерняя нода1</a>
								</div>
							</div>
							<div class="node">
								<div class="node-title">
									<a href="">Дочерняя нода1</a>
								</div>
							</div>
							<div class="node">
								<div class="node-title">
									<a href="">Дочерняя нода1</a>
								</div>
							</div>						
						</div>

					</div>
				</div>
			</div>
		</div>
		{{ end }}
		
	</div>	
</div>